<main>
    <div>
        <button>Categories</button>
        <input type="text" value="search">
        <button>Search</button>
    </div>
    <div>
        <section>
            <h3>Receipe Name</h3>
            <h4>Recipe Category</h4>
            <p>
                suscipit officia ratione. Fugit molestias fugiat doloremque est ducimus modi cupiditate, laboriosam aut enim ea recusandae aliquam officiis consectetur at temporibus sequi ipsam, harum quia!
            </p>
            <p>Keywords</p>

        </section>
    </div>

</main>