<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Some one say food!</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <header>
    <h1>What should I eat?</h1>
    <a href="/">Home</a>

    <% if logged_in? %>
      <a href="/myrecipes">My Recipes</a>
      <a href="/addrecipe">Add Recipe</a>
      <a href="/recipe">My Recipes</a>
      <%= find_user_by_id(session[:user_id])["email"]  %>
      <a href="/logout">Logout</a>
    <% else %>
      <a href="/login">Login</a>
    <% end %>
  </header>



  <%= yield %>

</body>
</html>
