<h1>Login Page</h1>

<form action="" method="post">
    <div>
        <label for="">Email</label>
        <input type="email" name="email">
    </div>
    <div>
        <label for="">Password</label>
        <input type="password" name="password">
    </div>
    <div><button>Submit</button></div>
</form>