body {
    background: red;
}

main {
    display: grid;
    grid-template-columns: 200px auto;
}

header {
    display: grid;
    max-width: 800px;
    margin: 0 auto;
    grid-template-columns: auto 50px 80px 150px 50px;
}

article {
    background-color: rosybrown;
}

.category_btns {
    display: block;
}